@import "mi-nav.css";
@import "mi-footer.css";
@import "listas.css";

:root{
  background-image: fondo.jpg;
  font-family: sans-serif;
  --col-active: #4646462c;
 
}

body, html {
  height: 100%;
  background-repeat: no-repeat;
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}
body {
  max-width: 640px;
  margin: 0 auto;
  padding: 0.5rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

.herramientas {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  align-content: flex-end;
  justify-content: flex-end;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

header input {
  flex-grow: 1;
}

h1 {
  margin: 0.5rem 0;
}

figure img {
  max-width: 100%;
}

legend,
p label {
  display: block;
  font-weight: bold;
  font-size: 0.7rem;
  color: blanchedalmond;
}
h1{
  color: blanchedalmond;
}
p label>* {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
  color: blanchedalmond;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  
  background-size: cover;
}

.box {
  width: 500px;
  background: rgba(0, 0, 0, .4);
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 4%;
  color: white;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 15px;
  /* box-shadow: 7px 13px 37px black; */
}

.box-img {
  border-radius: 50%;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  margin: 30px 0 20px;
}

.box h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 30px
}

.box p {
  text-align: justify;
}

.box ul {
  margin-top: 20px;
  list-style: none;
}

.box ul li {
  display: inline-block;
}
.box ul li a {
  color: white;
  font-size: 45px;
  padding: 10px 5px;
  transition: all .5s ease-in-out;
  display: block;
}

.box ul li a:hover {
  color:#b9b9b9;
  transform: scale(1.3);
}
